*node_modules
deployments/confluent/config-confluent.properties
deployments/local/security/ssl
deployments/local/security/config.properties
deployments/openshift/tls/ca.crt
deployments/openshift/tls/truststore.jks
samples/config-local.properties
samples/config-openshift.properties

samples/nodejs/TemperatureSimulation/config/kafkaConfluentConfig.js
samples/nodejs/TemperatureSimulation/config/kafkaOpenShiftConfig.js
samples/python/TemperatureSimulation/config/configuration-confluent.ini
samples/python/TemperatureSimulation/config/configuration-local-ssl.ini
samples/python/TemperatureSimulation/config/configuration-local.ini
samples/python/TemperatureSimulation/config/configuration-openshift.ini
samples/python/TemperatureSimulation/tls

