*node_modules
deployments/openshift/tls/ca.crt
deployments/openshift/tls/truststore.jks
python/kafka-python/tls/CARoot.pem
python/kafka-python/tls/cert_and_key.p12
python/kafka-python/tls/key.pem
deployments/confluent/config.properties
samples/nodejs/TemperatureSimulation/config/kafkaConfluentConfig.js
samples/nodejs/TemperatureSimulation/config/kafkaOpenShiftConfig.js
samples/python/TemperatureSimulation/config/configuration-confluent.ini
samples/python/TemperatureSimulation/config/configuration-openshift.ini
deployments/local/security/tls/kafka.server.keystore.jks
